@inject SignInManager<AppUser> signInManager

@if (!signInManager.IsSignedIn(User))
{
    <ul class="navbar__menu">
        <li class="navbar__menu-item"><a asp-area="identity" asp-controller="account" asp-action="register">Sign Up</a></li>
        <li class="navbar__menu-item"><a asp-action="login" asp-area="identity" asp-controller="account">Login</a></li>
    </ul>
}
else
{
    <ul class="navbar__menu">
        <li class="navbar__menu-account">
            <a class="user-shortcut" onclick="webApp.page.navbarMenu.showAccount()">@User.Identity.Name<i class="fas fa-user"></i></a>
            <div id="notify" class="user-notification">
                <div class="user-notification__profile-item user-notification__profile-item--link">
                    <i class="fa-solid fa-users-rectangle"></i>
                    <div class="profile-text">
                        <h3>My profile</h3>
                        <p>Account setting and more</p>
                    </div>
                </div>
                <div class="user-notification__profile-item">
                    <a href="/Identity/Account/Logout" type="button" onclick="webApp.page.navbarMenu.logout()">Sign Out</a>
                </div>
            </div>
        </li>
        @*<li class="navbar__menu-item"><a asp-action="logout" asp-area="identity" asp-controller="account">Logout</a></li>*@
    </ul>
}