@inject SignInManager<AppUser> signInManager;

@if(signInManager.IsSignedIn(User))
{
<div class="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__list-item"><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li class="sidebar__list-item"><a href="#"><i class="fas fa-link"></i>Shorcut</a></li>
        <li class="sidebar__list-item"><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
        <li class="sidebar__list-item"><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
        <li class="sidebar__list-item"><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        <li class="sidebar__list-item"><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
        <li class="sidebar__list-item"><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
    </ul>
</div>
}