@model IEnumerable<EasyNotes.WebHost.Areas.Note.Models.Event>
@{
    ViewData["Title"] = "User Info";

    var listEvent = Model;
}



@section head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.css">
}

<input id="listEvent" type="text" value="@listEvent" hidden />
<div id="calendar"></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.js"></script>
    <script src="~/js/Note/DashboardManagement/dashboard-management-calendar.js"></script>
}
