@model EasyNotes.WebHost.Areas.Identity.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section head {
    <link href="/css/Account/identity-register.css" rel="stylesheet" />
}


<div class="register-container">
    <form class="form-register" asp-controller="account" asp-action="register" method="post">
        <header class="form-register__header">
            <h3 class="form-register__header-title">Register</h3>
            <p class="form-register__header-subtitle">Create your account. It's free and only takes a minute.</p>
        </header>
        
        <div class="form-register__content">
            <div class="form-register__content-validation" asp-validation-summary="All"></div>
            <div class="form-register__content-item">
                <input class="register-firstname" type="text" placeholder="First Name" asp-for="FirstName" name="FirstName" />
                <input class="register-lastname" type="text" placeholder="Last Name" asp-for="LastName" name="LastName" />
            </div>
            <div class="form-register__content-item">
                <input type="text" placeholder="Username" asp-for="Username" name="Username" />
            </div>
            <div class="form-register__content-item">
                <input type="password" placeholder="Password" asp-for="Password" name="Password" />
            </div>
            <div class="form-register__content-item">
                <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" name="ConfirmPassword" />
            </div>
            <button type="submit" class="form-register__content-button">Register Now</button>
            <p class="form-register__content-login">Already have an account? <a href="/identity/account/login">Sign in</a></p>
        </div>
    </form>
</div>

