* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

*:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

/*-----------Button---------*/


.btn-confirm {
    background-color: var(--primary-color);
    color: var(--text-white);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 5px 15px;
    opacity: 0.8;
    transition: all .2s ease;
}

.btn-confirm:hover {
    opacity: 1;
}

.btn-cancel {
    background-color: #fff;
    color: var(--black-color);
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    padding: 5px 15px;
    opacity: 0.8;
    transition: all .2s ease;
}

.btn-cancel:hover {
    background-color: var(--gray-color);
}





