.navbar-button--link {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
}



.container {
    max-width: 100%;
    padding: 0px;
    background-color: #f0f0f0;
}

/*-----------------------------------------------------Navbar -------------------------------------------------------*/

.navbar {
    top: 0;
    position: fixed;
    background-color: #24252a;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0px 5px 8px rgba(0,0,0,.3);
    z-index: 1111;
}

.navbar__logo-text {
    font-weight: 600;
    letter-spacing: 1px;
    font-family: serif;
    font-size: 24px;
}

.navbar__logo-text--danger {
    color: red;
}

.navbar__logo > h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.navbar__menu-item {
    margin-right: 10px;
    border: 1px solid transparent;
    padding: 5px 15px;
    min-width: 80px;
    text-align: center;
    border-radius: 50px;
    transition: background-color linear .1s;
}

.navbar__menu-account {
    margin-right: 10px;
    padding: 5px 15px;
    position: relative;
    cursor: pointer;
}



.user-shortcut {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff !important;
    margin-bottom: 0px;
}

.user-shortcut > i {
    margin-left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 38px;
    }
}

.user-notification {
    position: absolute;
    top: 38px;
    right: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #fff;
    height: 148px;
    width: 380px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s forwards;
    display: none;
}

.user-notification__profile-item {
    flex: 1;
    height: 50%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .4s ease;
}

.user-notification__profile-item--link:hover {
    background-color: #f7f8fa;
    cursor: pointer;
}

.user-notification__profile-item i {
    font-size: 1.5rem;
    color: #2fcdbd;
}

.user-notification__profile-item .profile-text{
    margin-left: 15px;

}

.profile-text h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: #36c0ff;
}

.profile-text p {
    font-size: 1.2rem;
    color: #777;
}

.user-notification__profile-item .logout {
    color: #36c0ff;
    background-color: #e8f8ff;
    border: 1px solid #e8f8ff;
    padding: 5px 15px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 2px;
    transition: all .4s ease;
}

.user-notification__profile-item .logout:hover {
    color: #fff;
    background-color: #22b9ff;
    border: 1px solid #22b9ff;
}

.navbar__menu-item:hover {
    background-color: #0288a8;
    border: 1px solid transparent;
}

.body {
    margin-top: 46px;
    width: 100%;
    display: flex;
    min-height: 100vh;
}


    /*-----------------------------------------------------Side bar -------------------------------------------------------*/

.sidebar {
    width: 100px;
    position: fixed;
    background-color: #011e32;
    left: 0px;
    top: 46px;
    bottom: 0;
    transition: all .4s ease;
}

.sidebar:hover {
    width: 250px;
}

.sidebar:hover .sidebar__list-item a p {
    opacity: 1;
}

.sidebar__list-item {
    padding: 24px 42px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}

.sidebar__list-item > a {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    left: 0px;
    display: flex;
    align-items:center;
}


.sidebar__list-item a p {
    margin-bottom: 0px;
    opacity: 0;
    transition: all .4s ease;
}


.sidebar__list-item > a > i {
    color: #fff;
    margin-right: 15px;
}

/*----------------------------------------------------- Content -------------------------------------------------------*/

.body__sidebar
{
    margin-right: 100px;
    z-index: 1111;
}

.body__content {
    margin:50px 30px;
    flex: 1;
}

.toast .toast-title {
    font-size: 1.4rem !important;
}

.toast .toast-message {
    font-size: 1.2rem;
}




