:root {
    --text-white: #f7f3fb;
    --text-danger: #FF0000;
    --primary-color: #5867dd;
    --white-color: #f7f3fb;
    --gray-color: #f4f5f8;
    --text-normal: 1.2rem;
    --text-header: 1.4rem;
}
